img{
    max-width: 100%;
}

h3{
    font-size: 1.5em;
}

.Song{
    display: grid;
    grid-template-columns: 30% auto;
    background-color: transparent;
    color: white;
    width: fit-content;
}

.songDescription{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: start;
    text-align: left;
    font-size: 0.7rem;
}
