a{
  text-decoration: none;
  color: white;
}

button{
  border:none;
  border-radius: 100px;
  padding: 5px;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: #191414;
}

button:hover{
  background-color: #1db954;
}

.smap__navbar {
  background: #191414;
  display: flex;
  justify-content: space-between;
  color: white;
  position: absolute;
  width: 100vw;
  z-index: 10;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.smap__navbar--icon {
  color: #1db954;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.smap__navbar--links {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.smap__navbar--links a {
  color: white;
  list-style: none;
  margin-left: 2vw;
  margin-right: 2vw;
  text-decoration: none;
}

.smap-navbar--logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
}

.logoHolder{
  display: flex;
  align-items: center;
  max-width: 10%;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 1%;
}

sup{
  font-size: 10px;
}