.infoContainer{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    border-radius: 20px;
    width: 20%;
    background-color: #191414;
    color: white;
    z-index: 10;
  }